header {
  margin: 14% 0 10% 10%;
}

.container {
  width: 90%;
  max-width: 1000px;
}

.logo {
  font-size: 3vw;
  color: #4f4f4f;
}

.description {
  font-size: 1.5vw;
}

footer {
  padding-left: 10%;
}
